#wrap {
	position: relative;
	width: 852px;
	height: 516px;
	background: url(../img/bg.png);
	padding-top: 38px;
	padding-left: 22px;
}
#wrap img{
	transition: 5s;
}
#pre,
#next {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-left: 10px;
}
#first {
	position: absolute;
	top: 95px;
	left: 25px;
	width: 498px;
	height: 338px;
	padding: 20px 0 0 28px;
}
#first p{
	margin-top: 3px;
	font: bold 12px/12px "微软雅黑";
	text-align: center;
}
#sount1 {
	position: absolute;
	bottom: 50px;
	left: 10px;
	width: 30px;
	height: 12px;
}
#second {
	position: absolute;
	top: 95px;
	right: 43px;
	width: 262px;
	height: 340px;
	padding: 20px 0 0 28px;
}
#second p{
	margin-top: 3px;
	font: bold 12px/12px "微软雅黑";
	text-align: center;
}
#sount2 {
	position: absolute;
	bottom: 50px;
	left: 3px;
	width: 30px;
	height: 12px;
}